{% extends 'app/base.html' %}

{% block nav %}
    {% if request.user.is_authenticated %}
        <h2>{{ request.user.username }}</h2>
    {% endif %}
    <a href="{% url 'index' %}"><p>Главная</p></a>
    <a href="{% url 'create_offer' %}"><p>Создать объявление</p></a>
    <a href="{% url 'login' %}"><p>Авторизоваться</p></a>
    <a href="{% url 'logout' %}"><p>Выйти</p></a>
{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Создать объявление">
    </form>
{% endblock %}